/* Основные стили для всей страницы */
body {
    font-family: Arial, sans-serif;
    background-color: #ffffff; /* Белый фон */
    color: #000000; /* Черный текст */
    margin: 0;
    padding: 0;
    background-image: url('images/bread_trans.png');
    background-repeat: repeat; /* Повторять изображение по горизонтали и вертикали */
}

/* Стили для рамок и фона внутри */
.container {
    border: 2px solid #FFD700; /* Оранжево-желтая рамка */
    padding: 20px;
    border-radius: 10px; /* Закругление углов рамки */
    background-color: #FFD700; /* Оранжево-желтый фон */
}

/* Стили для текста внутри рамок */
.container p {
    font-weight: bold; /* Установка текста жирным */
    color: #FFF; /* Цвет текста белый */
}

/* Стили для заголовков */
h1, h2, h3 {
    text-align: center;
    color: #000000; /* Черный текст */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

/* Стили для параграфов */
p {
    font-size: 1.1em;
    line-height: 1.5em;
    margin: 10px 0;
    color: #000000; /* Черный текст */
}

/* Стили для списка персонажей */
ul {
    list-style-type: none;
    padding: 0;
    text-align: center; /* Центрируем содержимое */
    margin-left: auto; /* Автоматический отступ слева */
    margin-right: auto; /* Автоматический отступ справа */
    max-width: 400px; /* Максимальная ширина списка */
}

/* Стили для элементов списка персонажей */
ul li {
    background: rgba(255, 255, 255, 0.1);
    margin: 5px auto; /* Верхний и нижний отступ, горизонтальные отступы автоматически центрируют */
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc; /* Добавляем рамку */
    display: block; /* Блочный элемент, чтобы расположить их в столбик */
    width: 90%; /* Ширина элемента */
    text-align: left; /* Выравнивание текста влево */
    font-size: 18px; /* Увеличение размера текста */
}



/* Стили для кнопок удаления персонажа */
.delete-button {
    background-color: #ff0000; /* Красный цвет */
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    position: absolute; /* Абсолютное позиционирование */
    top: 50%; /* Положение по вертикали */
    right: 10px; /* Положение по горизонтали */
    transform: translateY(-50%); /* Сдвиг вверх на половину высоты кнопки */
}

.delete-button:hover {
    background-color: #cc0000; /* Темно-красный цвет */
}

/* Стили для формы */
form {
    display: inline;
}
/* Стили для ссылки */
a {
    display: block; /* Превратить ссылку в блочный элемент */
    text-align: center; /* Выравнивание текста по центру */
    font-size: 20px; /* Установка размера текста */
    padding: 10px; /* Добавление отступов для увеличения области клика */
}
/* Стили для контейнера текста */
.text-container {
    width: 600px; /* Фиксированная ширина контейнера */
    max-height: 300px; /* Максимальная высота контейнера */
    overflow-y: auto; /* Включение вертикальной прокрутки при необходимости */
    border: 2px solid #FFD700; /* Оранжево-желтая рамка */
    padding: 20px;
    border-radius: 10px; /* Закругление углов рамки */
    background-color: #FFD700; /* Оранжево-желтый фон */
    text-align: center; /* Выравнивание текста по центру */
}
/* Стили для элементов с характеристиками */
.character-info {
    text-align: center; /* Выравнивание текста по центру */
}


