<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Характеристики героя</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <h1>{{ character.name }}</h1>
    <p class="character-info">Сила: {{ character.strength }}</p>
    <p class="character-info">Ловкость: {{ character.agility }}</p>
    <p class="character-info">Выносливость: {{ character.endurance }}</p>

    <div id="story">{{ character.story }}</div>
    <div id="enemy" style="display: none;">
        <p>Здоровье врага: <span id="enemy_health"></span></p>
        <button type="button" onclick="attack()">В атаку!</button>
    </div>

    <div class="buttons-container">
{#    <form action="{{ url_for('index') }}" method="get">#}
{#        <button type="submit">Вернуться к списку героев</button>#}
{#    </form>#}
    <form id="continueForm" action="{{ url_for('continue_story', character_id=character.id) }}" method="post">
        <button type="button" id="continueButton" onclick="continueStory()">Читать историю</button>
    </form>
    </div>
    <script>
    function continueStory() {
        fetch('{{ url_for("continue_story", character_id=character.id) }}', {
            method: 'POST',
        })
        .then(response => response.json())
        .then(data => {
            if (data.story) {
                document.getElementById('story').innerText = data.story;
            }
            if (data.enemy_health !== null) {
                document.getElementById('enemy').style.display = 'block';
                document.getElementById('enemy_health').innerText = data.enemy_health;
                document.getElementById('continueButton').style.display = 'none';
            } else {
                document.getElementById('enemy').style.display = 'none';
                document.getElementById('continueButton').style.display = 'block';
            }
        });
    }

    function attack() {
        fetch('{{ url_for("attack", character_id=character.id) }}', {
            method: 'POST',
        })
        .then(response => response.json())
        .then(data => {
            if (data.message === "Enemy defeated") {
                document.getElementById('story').innerText = data.story + "\nВраг побежден...";
                document.getElementById('enemy').style.display = 'none';
                document.getElementById('continueButton').style.display = 'block';
            } else if (data.enemy_health !== null) {
                document.getElementById('enemy_health').innerText = data.enemy_health;
                {#ДОБАВЛЕНО ДЛЯ ПРОСТО ВЫВОДА#}
                document.getElementById('story').innerText = data.story;

            } else {
                document.getElementById('enemy').style.display = 'none';
                document.getElementById('continueButton').style.display = 'block';
            }
        });
    }
</script>
    <p> {{ character.story }}</p>
    <a href="{{ url_for('index') }}">Вернуться к списку героев</a>

</body>
</html>


